* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  background: linear-gradient(#b7d6c7, transparent) #ffe2d1; /*linear-gradient(#90ebff, white);*/
  height: 280px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  transition: background-color 1s linear;
  width: 920px;
}

.mediodia {
  background-color: #ffdcf3;
}

.tarde {
  background-color: #ffadad;
}

.noche {
  background-color: #aca8c7;
}

.dino {
  background: url(Images/dino.png) repeat-x 0px 0px;
  background-size: 336px 84px;
  background-position-x: 0px;
  bottom: 22px;
  height: 84px;
  left: 42px;
  position: absolute;
  width: 84px;
  z-index: 2;
}

.dino-run {
  animation: animarDino 0.25s steps(2) infinite;
}
.dino-die {
  background-position-x: -252px;
}

.base {
  background: url(./Images/base.png) repeat-x 0px 0px;
  background-size: 50% 42px;
  bottom: 0;
  height: 42px;
  left: 0;
  position: absolute;
  width: 200%;
}

.cactus {
  background: url(Images/cactus1.png) no-repeat;
  bottom: 16px;
  height: 96px;
  left: 600px;
  position: absolute;
  width: 46px;
  z-index: 1;
}
.cactus2 {
  background: url(Images/cactus2.png) no-repeat;
  height: 66px;
  width: 98px;
}

.nube {
  background: url(Images/nube.png) no-repeat;
  background-size: 92px 26px;
  height: 26px;
  position: absolute;
  width: 92px;
  z-index: 0;
}

.score {
  color: #d48871;
  font-family: Verdana;
  font-size: 30px;
  font-weight: bold;
  height: 30px;
  position: absolute;
  right: 15px;
  text-align: right;
  top: 5px;
  width: 100px;
  z-index: 10;
}

.game-over {
  color: #7e928b;
  display: none;
  font-size: 30px;
  font-family: Verdana;
  font-weight: 700;
  position: absolute;
  text-align: center;
  width: 100%;
}

@keyframes animarDino {
  from {
    background-position-x: -84px;
  }
  to {
    background-position-x: -252px;
  }
}
